.btn {
  --light: theme('colors.red.light');
  --default: theme('colors.red.DEFAULT');

  background-image: linear-gradient(to right, #F2294E, var(--light), var(--default));
  background-size: 300% 100%;

  -o-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.btn:hover {
  background-position: 100% 0;
  transition: all .5s ease-in-out;
}