@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #101822;
  overflow: hidden;
  z-index: -1;
}

.background span {
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 6;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #ff4654;
  top: 1%;
  left: 37%;
  animation-duration: 73s;
  animation-delay: -372s;
  transform-origin: -21vw -2vh;
  box-shadow: -100vmin 0 12.86215927995975vmin currentColor;
}

.background span:nth-child(1) {
  color: #18212a;
  top: 43%;
  left: 44%;
  animation-duration: 23s;
  animation-delay: -256s;
  transform-origin: 21vw 22vh;
  box-shadow: 100vmin 0 12.911225131138849vmin currentColor;
}

.background span:nth-child(2) {
  color: #18212a;
  top: 45%;
  left: 1%;
  animation-duration: 251s;
  animation-delay: -261s;
  transform-origin: 11vw -10vh;
  box-shadow: -100vmin 0 13.074395110587385vmin currentColor;
}

.background span:nth-child(3) {
  color: #ff4654;
  top: 5%;
  left: 50%;
  animation-duration: 168s;
  animation-delay: -5s;
  transform-origin: 11vw 16vh;
  box-shadow: 100vmin 0 13.245874864450574vmin currentColor;
}

.background span:nth-child(4) {
  color: #18212a;
  top: 83%;
  left: 54%;
  animation-duration: 303s;
  animation-delay: -322s;
  transform-origin: -15vw -15vh;
  box-shadow: 100vmin 0 13.235226137986304vmin currentColor;
}

.background span:nth-child(5) {
  color: #ff4654;
  top: 45%;
  left: 82%;
  animation-duration: 373s;
  animation-delay: -114s;
  transform-origin: 24vw -23vh;
  box-shadow: 100vmin 0 12.666122298585298vmin currentColor;
}

.background span:nth-child(6) {
  color: #327ad9;
  top: 41%;
  left: 21%;
  animation-duration: 53s;
  animation-delay: -115s;
  transform-origin: -23vw -12vh;
  box-shadow: -100vmin 0 13.248869242309615vmin currentColor;
}

.background span:nth-child(7) {
  color: #18212a;
  top: 94%;
  left: 44%;
  animation-duration: 46s;
  animation-delay: -323s;
  transform-origin: 14vw -21vh;
  box-shadow: 100vmin 0 13.103965201913768vmin currentColor;
}

.background span:nth-child(8) {
  color: #ff4654;
  top: 53%;
  left: 12%;
  animation-duration: 214s;
  animation-delay: -99s;
  transform-origin: 25vw -7vh;
  box-shadow: -100vmin 0 13.36347418800595vmin currentColor;
}

.background span:nth-child(9) {
  color: #327ad9;
  top: 91%;
  left: 22%;
  animation-duration: 393s;
  animation-delay: -404s;
  transform-origin: 16vw -4vh;
  box-shadow: -100vmin 0 13.378132733313402vmin currentColor;
}

.background span:nth-child(10) {
  color: #327ad9;
  top: 8%;
  left: 14%;
  animation-duration: 42s;
  animation-delay: -94s;
  transform-origin: -17vw 8vh;
  box-shadow: -100vmin 0 13.430918381532694vmin currentColor;
}

.background span:nth-child(11) {
  color: #ff4654;
  top: 59%;
  left: 71%;
  animation-duration: 299s;
  animation-delay: -46s;
  transform-origin: 2vw 8vh;
  box-shadow: 100vmin 0 13.001211248186255vmin currentColor;
}

.background span:nth-child(12) {
  color: #327ad9;
  top: 15%;
  left: 16%;
  animation-duration: 127s;
  animation-delay: -350s;
  transform-origin: -17vw 24vh;
  box-shadow: 100vmin 0 13.140949067220271vmin currentColor;
}

.background span:nth-child(13) {
  color: #327ad9;
  top: 72%;
  left: 83%;
  animation-duration: 77s;
  animation-delay: -120s;
  transform-origin: 20vw 0vh;
  box-shadow: -100vmin 0 13.307192482727515vmin currentColor;
}

.background span:nth-child(14) {
  color: #327ad9;
  top: 77%;
  left: 50%;
  animation-duration: 107s;
  animation-delay: -165s;
  transform-origin: -22vw -4vh;
  box-shadow: -100vmin 0 13.341857044803282vmin currentColor;
}

.background span:nth-child(15) {
  color: #ff4654;
  top: 54%;
  left: 75%;
  animation-duration: 135s;
  animation-delay: -25s;
  transform-origin: -9vw -5vh;
  box-shadow: 100vmin 0 12.959027214374673vmin currentColor;
}

.background span:nth-child(16) {
  color: #ff4654;
  top: 89%;
  left: 52%;
  animation-duration: 201s;
  animation-delay: -286s;
  transform-origin: 17vw -11vh;
  box-shadow: -100vmin 0 13.054033767578293vmin currentColor;
}

.background span:nth-child(17) {
  color: #18212a;
  top: 64%;
  left: 27%;
  animation-duration: 166s;
  animation-delay: -89s;
  transform-origin: -11vw -20vh;
  box-shadow: 100vmin 0 12.540614766149659vmin currentColor;
}

.background span:nth-child(18) {
  color: #ff4654;
  top: 14%;
  left: 14%;
  animation-duration: 268s;
  animation-delay: -408s;
  transform-origin: 4vw 18vh;
  box-shadow: -100vmin 0 12.702413614925275vmin currentColor;
}

.background span:nth-child(19) {
  color: #18212a;
  top: 38%;
  left: 35%;
  animation-duration: 418s;
  animation-delay: -125s;
  transform-origin: 16vw 4vh;
  box-shadow: -100vmin 0 12.857685330228021vmin currentColor;
}