@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: theme('colors.blue.dark');
}

*::-webkit-scrollbar-thumb {
  /* border-radius: 10px; */
  background-color: theme('colors.blue.link');
}